@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
#main_index {
  height: 200vh;
  width: 100vw;
  background: rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
}

.main_sect {
  display: flex;
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: space-around;
  color: #050505;
}
.main_sect .present_text {
  font-size: 65px;
}
.main_sect .main_sect_present h3 {
  font-family: "Crimson Text", serif;
}

.main_foto_cont {
  width: 450px;
  height: 600px;
}

.wave {
  width: 100vw;
  height: 140vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #036e39;
  animation: wave 3s ease-in-out infinite;
  text-align: center;
}
.wave .sect_wave {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.wave .sect_wave .sect_wave_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wave .sect_wave .sect_wave_about h2 {
  font-size: 4rem;
}
.wave .sect_wave .sect_wave_about p {
  padding: 5rem;
  font-size: 2rem;
}
.wave .sect_wave .sect_wave_button {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.wave .sect_wave .sect_wave_button .buttonClass {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #57cc99;
  color: #57cc99;
}
.wave .sect_wave .sect_wave_button .buttonClass:hover {
  color: #fff;
}
.wave .sect_wave .sect_wave_button .buttonClass:hover:after {
  height: 100%;
}
.wave .sect_wave .sect_wave_button .buttonClass:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #57cc99;
}
.wave .sect_wave .sect_wave_button .buttonClass:active {
  top: 2px;
}
.wave .sect_wave .sect_wave_button .buttonClass a {
  text-decoration: none;
  color: #036e39;
}

@keyframes wave {
  0%, 100% {
    clip-path: polygon(100% 100%, 0% 100%, 0% 0.53%, 1% 0.81%, 2% 1.13%, 3% 1.51%, 4% 1.94%, 5% 2.41%, 6% 2.93%, 7% 3.48%, 8% 4.07%, 9% 4.69%, 10% 5.34%, 11% 6.02%, 12% 6.71%, 13% 7.41%, 14% 8.13%, 15% 8.85%, 16% 9.57%, 17% 10.28%, 18% 10.99%, 19% 11.68%, 20% 12.35%, 21% 13%, 22% 13.62%, 23% 14.2%, 24% 14.76%, 25% 15.27%, 26% 15.74%, 27% 16.16%, 28% 16.53%, 29% 16.86%, 30% 17.13%, 31% 17.34%, 32% 17.5%, 33% 17.6%, 34% 17.64%, 35% 17.62%, 36% 17.54%, 37% 17.41%, 38% 17.21%, 39% 16.96%, 40% 16.66%, 41% 16.31%, 42% 15.9%, 43% 15.45%, 44% 14.95%, 45% 14.42%, 46% 13.84%, 47% 13.23%, 48% 12.6%, 49% 11.93%, 50% 11.25%, 51% 10.55%, 52% 9.84%, 53% 9.12%, 54% 8.4%, 55% 7.68%, 56% 6.97%, 57% 6.28%, 58% 5.6%, 59% 4.94%, 60% 4.3%, 61% 3.7%, 62% 3.13%, 63% 2.6%, 64% 2.11%, 65% 1.67%, 66% 1.27%, 67% 0.92%, 68% 0.63%, 69% 0.39%, 70% 0.21%, 71% 0.08%, 72% 0.01%, 73% 0%, 74% 0.05%, 75% 0.16%, 76% 0.33%, 77% 0.55%, 78% 0.83%, 79% 1.16%, 80% 1.54%, 81% 1.97%, 82% 2.45%, 83% 2.97%, 84% 3.53%, 85% 4.12%, 86% 4.74%, 87% 5.4%, 88% 6.07%, 89% 6.76%, 90% 7.47%, 91% 8.19%, 92% 8.9%, 93% 9.62%, 94% 10.34%, 95% 11.04%, 96% 11.73%, 97% 12.4%, 98% 13.05%, 99% 13.66%, 100% 14.25%);
  }
  50% {
    clip-path: polygon(100% 100%, 0% 100%, 0% 9.59%, 1% 10.3%, 2% 11.01%, 3% 11.7%, 4% 12.37%, 5% 13.01%, 6% 13.63%, 7% 14.22%, 8% 14.77%, 9% 15.28%, 10% 15.75%, 11% 16.17%, 12% 16.54%, 13% 16.86%, 14% 17.13%, 15% 17.34%, 16% 17.5%, 17% 17.6%, 18% 17.64%, 19% 17.62%, 20% 17.54%, 21% 17.4%, 22% 17.21%, 23% 16.96%, 24% 16.65%, 25% 16.3%, 26% 15.89%, 27% 15.44%, 28% 14.94%, 29% 14.4%, 30% 13.83%, 31% 13.22%, 32% 12.58%, 33% 11.92%, 34% 11.23%, 35% 10.53%, 36% 9.82%, 37% 9.1%, 38% 8.38%, 39% 7.66%, 40% 6.96%, 41% 6.26%, 42% 5.58%, 43% 4.92%, 44% 4.29%, 45% 3.69%, 46% 3.12%, 47% 2.59%, 48% 2.1%, 49% 1.66%, 50% 1.26%, 51% 0.91%, 52% 0.62%, 53% 0.38%, 54% 0.2%, 55% 0.08%, 56% 0.01%, 57% 0%, 58% 0.06%, 59% 0.17%, 60% 0.33%, 61% 0.56%, 62% 0.84%, 63% 1.17%, 64% 1.55%, 65% 1.98%, 66% 2.46%, 67% 2.98%, 68% 3.54%, 69% 4.14%, 70% 4.76%, 71% 5.41%, 72% 6.09%, 73% 6.78%, 74% 7.49%, 75% 8.2%, 76% 8.92%, 77% 9.64%, 78% 10.36%, 79% 11.06%, 80% 11.75%, 81% 12.42%, 82% 13.06%, 83% 13.68%, 84% 14.26%, 85% 14.81%, 86% 15.32%, 87% 15.78%, 88% 16.2%, 89% 16.57%, 90% 16.89%, 91% 17.15%, 92% 17.36%, 93% 17.51%, 94% 17.6%, 95% 17.64%, 96% 17.61%, 97% 17.53%, 98% 17.39%, 99% 17.19%, 100% 16.94%);
  }
}
@media screen and (max-width: 1312px) {
  .main_sect_present {
    font-size: 30px;
  }
  .main_sect_present .present_text {
    font-size: 50px;
  }
  .main_foto_cont {
    width: 350px;
    height: 500px;
  }
  .main_foto_cont .main_foto {
    width: 350px;
    height: 500px;
  }
}
@media screen and (max-width: 930px) {
  #main_index {
    height: 290vh;
  }
  .main_sect {
    flex-direction: column;
    height: 150vh;
  }
  .main_sect .present_text {
    font-size: 65px;
  }
  .main_foto_cont {
    width: 340px;
    height: 470px;
  }
  .main_foto_cont .main_foto {
    width: 340px;
    height: 470px;
  }
}
@media screen and (max-width: 680px) {
  #main_index {
    height: 280vh;
  }
  .main_sect {
    height: 146vh;
  }
  .main_sect .present_text {
    font-size: 50px;
  }
  .main_sect .main_sect_present h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 470px) {
  #main_index {
    height: 265vh;
  }
  .main_sect {
    justify-content: space-evenly;
    height: 141vh;
  }
  .main_sect .present_text {
    font-size: 37px;
  }
  .main_sect .main_sect_present h3 {
    font-size: 15px;
  }
  .main_foto_cont {
    width: 270px;
    height: 400px;
  }
  .main_foto_cont .main_foto {
    width: 270px;
    height: 400px;
  }
  .wave {
    height: 150vh;
  }
  .wave .sect_wave .sect_wave_about h2 {
    margin-top: 9rem;
    font-size: 2rem;
  }
  .wave .sect_wave .sect_wave_about p {
    padding-top: 3rem;
    font-size: 15px;
  }
  .wave .sect_wave_button {
    padding-top: 1rem;
  }
  @keyframes wave {
    0%, 100% {
      clip-path: polygon(100% 100%, 0% 100%, 0% 35.42%, 2% 35.13%, 4% 34.3%, 6% 32.96%, 8% 31.17%, 10% 29.04%, 12% 26.66%, 14% 24.17%, 16% 21.68%, 18% 19.32%, 20% 17.22%, 22% 15.48%, 24% 14.19%, 26% 13.42%, 28% 13.2%, 30% 13.54%, 32% 14.44%, 34% 15.83%, 36% 17.66%, 38% 19.83%, 40% 22.22%, 42% 24.72%, 44% 27.2%, 46% 29.54%, 48% 31.6%, 50% 33.29%, 52% 34.53%, 54% 35.25%, 56% 35.4%, 58% 34.99%, 60% 34.04%, 62% 32.59%, 64% 30.72%, 66% 28.53%, 68% 26.11%, 70% 23.61%, 72% 21.14%, 74% 18.83%, 76% 16.8%, 78% 15.16%, 80% 13.97%, 82% 13.32%, 84% 13.23%, 86% 13.7%, 88% 14.71%, 90% 16.21%, 92% 18.12%, 94% 20.35%, 96% 22.77%, 98% 25.28%, 100% 27.74%);
    }
    50% {
      clip-path: polygon(100% 100%, 0% 100%, 0% 26.48%, 2% 23.66%, 4% 20.88%, 6% 18.27%, 8% 15.97%, 10% 14.09%, 12% 12.74%, 14% 11.97%, 16% 11.83%, 18% 12.33%, 20% 13.44%, 22% 15.1%, 24% 17.23%, 26% 19.72%, 28% 22.44%, 30% 25.26%, 32% 28.04%, 34% 30.62%, 36% 32.88%, 38% 34.7%, 40% 35.99%, 42% 36.69%, 44% 36.76%, 46% 36.19%, 48% 35.02%, 50% 33.3%, 52% 31.12%, 54% 28.6%, 56% 25.85%, 58% 23.03%, 60% 20.28%, 62% 17.73%, 64% 15.51%, 66% 13.74%, 68% 12.51%, 70% 11.88%, 72% 11.89%, 74% 12.52%, 76% 13.76%, 78% 15.53%, 80% 17.76%, 82% 20.31%, 84% 23.07%, 86% 25.89%, 88% 28.63%, 90% 31.15%, 92% 33.32%, 94% 35.03%, 96% 36.2%, 98% 36.76%, 100% 36.68%);
    }
  }
}
#header {
  width: 100vw;
  grid-area: header;
  position: fixed;
  z-index: 100;
}

.logo {
  font-family: "Courgette", cursive;
  text-decoration: none;
}

.listCent {
  display: flex;
  justify-content: end;
}

.bg_navbar {
  background: rgb(218, 218, 218);
}

.bg_navbar a {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
}

.navbar {
  --bs-navbar-hover-color: rgb(69, 194, 69);
  --bs-navbar-active-color:rgb(76, 188, 76);
}

#footer {
  background-color: #0c5731;
  height: 7rem;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footer_list {
  display: flex;
  flex-direction: row;
}
#footer .footer_list li {
  list-style: none;
  align-items: center;
  padding-right: 1rem;
}
#footer .footer_list a {
  color: #ffffff;
}

#main_skills {
  height: 209vh;
  width: 100vw;
  background: rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  z-index: -5;
  align-items: center;
  grid-area: main;
  justify-content: space-between;
}

.sect_main {
  display: flex;
  height: 84vh;
  align-items: center;
}
.sect_main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0rem 5rem;
  color: #000000;
}

.sect_skills {
  width: 100vw;
  height: 148vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #036e39;
  animation: wave 3s ease-in-out infinite;
}
.sect_skills .card_sect_skills {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sect_skills .card_skills {
  color: black;
  background-color: #fff;
  border-radius: 4px;
  height: 28rem;
  width: 17rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: -8px -9px 37px 1px rgba(0, 0, 0, 0.84);
  transition: 0.3s;
}
.sect_skills .card_skills .bx_card {
  font-size: 60px;
}

@media screen and (max-width: 1502px) {
  .sect_skills {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 743px) {
  #main_skills {
    height: 391vh;
  }
  .sect_main {
    height: 50vh;
  }
  .sect_skills {
    justify-content: flex-end;
    height: 320vh;
  }
}
@media screen and (max-width: 470px) {
  #main_skills {
    height: 412vh;
  }
  .sect_main {
    height: 60vh;
  }
  .sect_skills {
    height: 352vh;
  }
  .sect_skills .card_sect_skills {
    justify-items: center;
  }
  .sect_skills .card_sect_skills p {
    font-size: 12px;
  }
  .sect_skills .card_skills {
    height: 24rem;
    width: 13rem;
  }
  @keyframes wave {
    0%, 100% {
      clip-path: polygon(100% 100%, 0% 100%, 0% 13.67%, 2% 13.57%, 4% 13.29%, 6% 12.84%, 8% 12.22%, 10% 11.47%, 12% 10.6%, 14% 9.66%, 16% 8.67%, 18% 7.66%, 20% 6.69%, 22% 5.76%, 24% 4.93%, 26% 4.22%, 28% 3.66%, 30% 3.26%, 32% 3.04%, 34% 3.01%, 36% 3.17%, 38% 3.51%, 40% 4.02%, 42% 4.68%, 44% 5.48%, 46% 6.37%, 48% 7.33%, 50% 8.33%, 52% 9.33%, 54% 10.3%, 56% 11.19%, 58% 11.98%, 60% 12.65%, 62% 13.16%, 64% 13.5%, 66% 13.66%, 68% 13.62%, 70% 13.41%, 72% 13.01%, 74% 12.44%, 76% 11.73%, 78% 10.9%, 80% 9.98%, 82% 9%, 84% 8%, 86% 7.01%, 88% 6.06%, 90% 5.2%, 92% 4.45%, 94% 3.83%, 96% 3.37%, 98% 3.09%, 100% 3%);
    }
    50% {
      clip-path: polygon(100% 100%, 0% 100%, 0% 12.7%, 2% 12.05%, 4% 11.27%, 6% 10.38%, 8% 9.42%, 10% 8.43%, 12% 7.43%, 14% 6.46%, 16% 5.55%, 18% 4.75%, 20% 4.07%, 22% 3.55%, 24% 3.19%, 26% 3.02%, 28% 3.03%, 30% 3.23%, 32% 3.62%, 34% 4.17%, 36% 4.86%, 38% 5.68%, 40% 6.6%, 42% 7.57%, 44% 8.58%, 46% 9.57%, 48% 10.52%, 50% 11.39%, 52% 12.16%, 54% 12.79%, 56% 13.26%, 58% 13.55%, 60% 13.67%, 62% 13.59%, 64% 13.33%, 66% 12.89%, 68% 12.28%, 70% 11.54%, 72% 10.69%, 74% 9.75%, 76% 8.76%, 78% 7.76%, 80% 6.77%, 82% 5.85%, 84% 5.01%, 86% 4.28%, 88% 3.71%, 90% 3.29%, 92% 3.05%, 94% 3.01%, 96% 3.15%, 98% 3.47%, 100% 3.96%);
    }
  }
}
#main_works {
  height: 140vh;
  width: 100vw;
  background: rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
  justify-content: space-between;
}

.sect_works {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.sect_works .sect_works_art {
  display: grid;
  grid-gap: 13rem;
  grid-template-columns: repeat(auto-fit, 700px);
  margin-top: 10rem;
  justify-content: center;
  justify-items: center;
}
.sect_works .sect_works_art .cards_works {
  background-color: #4b4b4b;
  width: 550px;
  height: 350px;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  border-radius: 3px;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  box-shadow: 109px -1px 136px 35px rgba(3, 110, 57, 0.51);
  -webkit-box-shadow: 109px -1px 136px 35px rgba(3, 110, 57, 0.51);
  -moz-box-shadow: 109px -1px 136px 35px rgba(3, 110, 57, 0.51);
}
.sect_works .sect_works_art .cards_works:hover {
  transform: scale(1.2);
}
.sect_works .sect_works_art .card_footer {
  display: flex;
  width: 100%;
  height: 10%;
}
.sect_works .sect_works_art .lista_works {
  list-style: none;
  display: flex;
  width: 90%;
  height: 100%;
  font-size: 16px;
  justify-content: space-around;
  align-items: center;
}
.sect_works .sect_works_art img {
  height: 90%;
  width: 100%;
}
.sect_works .sect_works_art .works_link {
  text-decoration: none;
  color: white;
  transition: transform 0.9s;
}
.sect_works .sect_works_art .works_link :hover {
  color: green;
  transform: scale(1.2);
}

@media screen and (max-width: 1606px) {
  #main_works {
    height: 180vh;
  }
}
@media screen and (max-width: 700px) {
  #main_works {
    height: 180vh;
  }
  .sect_works .sect_works_art .cards_works {
    width: 400px;
    height: 260px;
  }
  .sect_works .sect_works_art .cards_works .lista_works {
    font-size: 12px;
  }
}
@media screen and (max-width: 470px) {
  #main_works {
    height: 230vh;
  }
  .sect_works .sect_works_art .cards_works {
    width: 330px;
    height: 218px;
  }
}
#main_faqs {
  height: 180vh;
  width: 100vw;
  background: rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-area: main;
}

.sect_faqs {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 90vh;
  justify-content: center;
}

.card_faqs .accordion {
  --bs-accordion-active-bg: #7bd888;
}

.sect_faqs_low {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 90vh;
  background-color: #036e39;
  padding: 0px 10px;
}
.sect_faqs_low .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #31425a;
  --bs-btn-active-bg: #4ea45a;
}

@media screen and (max-width: 470px) {
  #main_faqs {
    height: 220vh;
  }
  .sect_faqs {
    height: 110vh;
  }
  .sect_faqs_low {
    height: 110vh;
  }
}
#main_contact {
  height: 120vh;
  width: 100vw;
  background: rgb(38, 38, 38);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: main;
}

.sect_contact {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.sect_contact .container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}
.sect_contact .container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -50;
}
.sect_contact .container .contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: -9px -6px 5px 0px rgba(9, 166, 54, 0.46);
  -webkit-box-shadow: -9px -6px 5px 0px rgba(9, 166, 54, 0.46);
  -moz-box-shadow: -9px -6px 5px 0px rgba(9, 166, 54, 0.46);
}
.sect_contact .right {
  padding: 25px 40px;
}
.sect_contact .right h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
  color: black;
}
.sect_contact .right h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71;
}
.sect_contact .right .field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.2s;
}
.sect_contact .right .field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.sect_contact .right .field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}
.sect_contact .right textarea {
  min-height: 150px;
}
.sect_contact .right .btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2c6834;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.sect_contact .right .btn:hover {
  background-color: #21c063;
}

@media screen and (max-width: 930px) {
  .contact-box {
    grid-template-columns: 1, 1fr;
  }
}
body {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  overflow-x: hidden;
}

/*# sourceMappingURL=styles.css.map */
