$slime: #036e39;
$greenfoot : #0c5731;
$accordion-button-active-color:  black;  



#main_faqs {
    height: 180vh;
    width: 100vw;
	background: rgb(38, 38, 38);
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: center;
    grid-area: main;
}

.sect_faqs{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height:90vh ;
    justify-content: center;
}
.card_faqs{
    .accordion{
        --bs-accordion-active-bg: #7bd888;
    }
}

 .sect_faqs_low{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-color: $slime;
            .btn-primary {
                --bs-btn-color: #fff;
                --bs-btn-bg: #31425a;
                --bs-btn-active-bg: #4ea45a;
 }
}
 





