$slime: #036e39;
$greenfoot : #0c5731;
$main:rgb(218, 218, 218);

#main_skills {
    height: 209vh;
    width: 100vw;
    background:  $main;
	display: flex;
    flex-direction: column;
	z-index: -5;
	align-items: center;
    grid-area: main;
    justify-content: space-between;
    
}


.sect_main{
    display: flex;
    height: 84vh;
    align-items: center;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin:0rem 5rem;
                color: #000000;
            }
}

.sect_skills {
    width: 100vw;
    height: 148vh;
	padding: 2rem;
	display: flex;
	flex-direction: column;
    justify-content: center;
    background-color:$slime;
    animation: wave 3s ease-in-out infinite;
    
            .card_sect_skills {
                display: grid;
                grid-gap: 5rem;
                grid-template-columns: repeat(auto-fit, 300px);
                justify-content: center;
                align-items: center;
                text-align: center;
               
            }
            .card_skills {
                color: black;
                background-color: #fff;
                border-radius: 4px;
                height: 28rem;
                width: 17rem;
                display: flex;
                flex-direction: column;
                padding: 2rem;
                box-shadow: -8px -9px 37px 1px rgba(0,0,0,0.84);
                transition: .3s;
                        
                        .bx_card {
                            font-size: 60px;
                        }
                        
                        
            }
           
}


@media screen and (max-width:1502px ){
    .sect_skills{
        justify-content: flex-end;
    }
}


@media screen and (max-width:930px ){


}


@media screen and (max-width:743px){
    #main_skills{
        height: 391vh;
    }

    .sect_main{
        height: 50vh
	}
    .sect_skills{
       justify-content: flex-end;
       height: 320vh;
    }
}


@media screen and (max-width:470px ){
    #main_skills{
        height: 412vh;
    }
    .sect_main{
        height: 60vh;
    }

	.sect_skills{
		height: 352vh;

                .card_sect_skills {
                    justify-items: center;
                            p{
                                font-size: 12px;
                            }
                }
                .card_skills {
                    height: 24rem;
                    width: 13rem;
                        
                }
	}
    
    @keyframes wave {
        0%, 100% {
            clip-path: polygon(100% 100%, 0% 100% , 0.00% 13.67%, 2.00% 13.57%, 4.00% 13.29%, 6.00% 12.84%, 8.00% 12.22%, 10.00% 11.47%, 12.00% 10.60%, 14.00% 9.66%, 16.00% 8.67%, 18.00% 7.66%, 20.00% 6.69%, 22.00% 5.76%, 24.00% 4.93%, 26.00% 4.22%, 28.00% 3.66%, 30.00% 3.26%, 32.00% 3.04%, 34.00% 3.01%, 36.00% 3.17%, 38.00% 3.51%, 40.00% 4.02%, 42.00% 4.68%, 44.00% 5.48%, 46.00% 6.37%, 48.00% 7.33%, 50.00% 8.33%, 52.00% 9.33%, 54.00% 10.30%, 56.00% 11.19%, 58.00% 11.98%, 60.00% 12.65%, 62.00% 13.16%, 64.00% 13.50%, 66.00% 13.66%, 68.00% 13.62%, 70.00% 13.41%, 72.00% 13.01%, 74.00% 12.44%, 76.00% 11.73%, 78.00% 10.90%, 80.00% 9.98%, 82.00% 9.00%, 84.00% 8.00%, 86.00% 7.01%, 88.00% 6.06%, 90.00% 5.20%, 92.00% 4.45%, 94.00% 3.83%, 96.00% 3.37%, 98.00% 3.09%, 100.00% 3.00%);
        }
      
        50% {
            clip-path: polygon(100% 100%, 0% 100% , 0.00% 12.70%, 2.00% 12.05%, 4.00% 11.27%, 6.00% 10.38%, 8.00% 9.42%, 10.00% 8.43%, 12.00% 7.43%, 14.00% 6.46%, 16.00% 5.55%, 18.00% 4.75%, 20.00% 4.07%, 22.00% 3.55%, 24.00% 3.19%, 26.00% 3.02%, 28.00% 3.03%, 30.00% 3.23%, 32.00% 3.62%, 34.00% 4.17%, 36.00% 4.86%, 38.00% 5.68%, 40.00% 6.60%, 42.00% 7.57%, 44.00% 8.58%, 46.00% 9.57%, 48.00% 10.52%, 50.00% 11.39%, 52.00% 12.16%, 54.00% 12.79%, 56.00% 13.26%, 58.00% 13.55%, 60.00% 13.67%, 62.00% 13.59%, 64.00% 13.33%, 66.00% 12.89%, 68.00% 12.28%, 70.00% 11.54%, 72.00% 10.69%, 74.00% 9.75%, 76.00% 8.76%, 78.00% 7.76%, 80.00% 6.77%, 82.00% 5.85%, 84.00% 5.01%, 86.00% 4.28%, 88.00% 3.71%, 90.00% 3.29%, 92.00% 3.05%, 94.00% 3.01%, 96.00% 3.15%, 98.00% 3.47%, 100.00% 3.96%);
        }
      }
    

}

