$main:rgb(218, 218, 218);

#main_works {
    height: 140vh;
    width: 100vw;
    background:  $main;
	display: flex;
    flex-direction: column;
	align-items: center;
    grid-area: main;
    justify-content: space-between;
    
}

.sect_works {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
                .sect_works_art {
                    display: grid;
                    grid-gap: 13rem;
                    grid-template-columns: repeat(auto-fit, 700px);
                    margin-top: 10rem;
                    justify-content: center;
                    justify-items: center ;
                    
                            .cards_works{
                                background-color: #4b4b4b;
                                width: 550px;
                                height: 350px;
                                display: flex;
                                flex-direction: column;
                                border: 2px solid green;
                                border-radius: 12px;
                                transition: transform .8s ease-in-out;
                                cursor: pointer;
                                box-shadow: 109px -1px 136px 35px rgba(3,110,57,0.51);
                                -webkit-box-shadow: 109px -1px 136px 35px rgba(3,110,57,0.51);
                                -moz-box-shadow: 109px -1px 136px 35px rgba(3,110,57,0.51);
                                overflow: hidden;
                                        &:hover {
                                            transform: scale(1.2)
                                           }
                                        }


                                        .card_footer{
                                           display: flex;
                                           width: 100%;
                                           height: 10%;
                                           
                                        }

                                       .lista_works{
                                            list-style: none;
                                            display: flex;
                                            width: 90%;
                                            height: 100%;
                                            font-size: 16px;
                                            justify-content: space-around;
                                            align-items: center;
                                        }
                                        img{
                                            height: 90%;
                                            width: 100%;
                                        }
                                        .works_link{
                                            text-decoration:none ;
                                            color: #ffff;
                                            
                                            transition: transform .9s;

                                                & :hover {
                                                    color: green;
                                                    transform: scale(1.2);
                                                }
                                        }
                            
                            }
                }








  @media screen and (max-width:1606px){
    #main_works{
        height: 180vh;
    }
  }
  
  @media screen and (max-width:700px){
    #main_works{
        height: 180vh;
    }
    .sect_works {

        .sect_works_art{


            .cards_works{
                width:400px;
                height:260px; 

                .lista_works{
                    font-size: 12px;
                }
                    
            }
        }
    }
    
   
  }
  
  
  @media screen and (max-width:470px ){
  #main_works{
    height: 230vh;
  }

    .sect_works {

        .sect_works_art{


            .cards_works{
                width:330px;
                height:218px; 
            }
        }
    }
    
  }

 
